---
layout: default
title: Blog Collection
background-position: bg-bottom
text-position: items-center
banner-height: min-h-100
banner-image: /images/blog-bg-10.jpg
heading: Exploring Sumbawa
sub-heading: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
banner_url: https://www.google.com
link-text: read more
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!--------Header Banner----------->

{% include quarter-header-banner.html %}


<!--------Blog Archive Section----------->

<section class="p-5p">

    <h3 class="uppercase text-4xl text-center p-5p"> Recently on the blog </h3>

    <div class="max-w-screen-xl mx-auto md:columns-3">

        {% for post in site.posts limit:30 %}

        {% include blog-loop-aspect-ratio.html %}

        {% endfor %}

    </div>

</section>