---
layout: default
title: Homepage
background-position: bg-center
text-position: items-center
banner-height: min-h-50 md:min-h-80
banner-image: /images/blog-bg-12.jpg
heading: A whole new world
sub-heading: Surfing teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
text-image: /images/blog-bg-13.jpg
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------
Man hätte das oben auch so organisieren können:
layout: default 
banner: 
	heading: A whole new world
	subtitle:  Lorem ipsum dolor sit amet consectetur adipisicing elit et accusantium explicabo itaque cupiditate, recusandae.
	banner-image: /images/placeholder-1.jpg 
-->

<!--------Header Banner----------->

{% include quarter-header-banner.html %}

<!--------Text Section----------->

<section class="p-5p bg-[#e5e2de]">

  <div class="grid md:grid-cols-2 max-w-screen-xl mx-auto">
    
      <div class="bg-image bg-cover bg-center" style="background-image: url('{{page.text-image}}')"> 
      </div>

      <div class="py-15p px-8">
    
          <div>
          <h2 class="editable p-8 text-center text-3xl md:text-5xl -ml-[20%] bg-stone-200 max-w-sm"> A fascinating heading about the site. </h2>
          </div>

          <div class="editable">
          <p class="text-center md:text-left"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima libero, commodi harum sit exercitationem doloribus amet sequi reiciendis? Dolore velit rerum dolores enim cupiditate harum optio explicabo delectus aliquam eius.</p>
          </div>

          <a href="#" class="editable text-center md:text-left text-xs md:text-2xl border-b-2 border-black uppercase font-serif tracking-wide "> Read more </a>
    </div>
  
  </div>

</div>
</section>

<!--------Futher Text Section


<section class="grid grid-cols-2 p-5p bg-white">

  <div class="col-span-1 p-6">

    <h2 class="text-6xl max-w-s"> A fascinating heading about the site. </h2>
    
    <p class="pr-[20%] mt-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima libero, commodi harum sit exercitationem doloribus amet sequi reiciendis? Dolore velit rerum dolores enim cupiditate harum optio explicabo delectus aliquam eius.</p>
    
    <a href="#" class="text-2xl border-b-2 border-black uppercase font-serif"> Read more </a>
    
  </div>

  <div style="background-image: url('/images/blog-bg-18.jpg')" class="col-span-1 min-h-60"> </div>

  

</section>

----------->

<!--------Upcoming Travel Destinations----------->

{% include upcoming-travel.html %}

<!--------Featured Blog Posts----------->

<section class="p-5p bg-[#e5e2de]">

  <h3 class="uppercase text-4xl text-center pb-5p "> Recently on the blog... </h3>

  <div class="grid grid-cols-3">

    {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %} <!----Insert Slider later---->

        {% include blog-loop-item.html %}
        
    {% endfor %}

  </div>


</section>

