<!--  image banner block  -->
<section class="p-5p bg-cover {{page.background-position}} {{page.banner-height}} {{page.text-position}} {{page.text-color}} flex " style="background-image: url('{{page.banner-image}}')">
    <div> 
       <h2 class="text-9xl text-white mb-2 max-w-2xl"> {{page.heading}} </h2> 
       <h3 class="text-2xl text-white max-w-md"> {{page.sub-heading}} </h3> 

        
       {% if page.banner_url %}
	
	   <a href="{{banner_url}}" class="text-white text-xl mt-2"> Read more </a> 

        {% endif %}

    </div> 
</section> 


<!-- 

Config Options: 

background-position: bg-center
text-position: items-center
banner-height: min-h-[60]
banner-image: 
heading: 
sub-heading:

-->