<section class="grid grid-cols-2 p-5p">

    <div class="col-span-2 text-center pb-5p">
    <h3 class="uppercase font-serif text-3xl md:text-5xl"> Upcoming travel destinations </h3>
    </div>

    <div class="col-span-1 p-5p flex items-center ">
      <div class="flex-grow"> 

        {% for item in site.data.upcoming-trips.trips %}

        <div class="flex justify-between items-center border-b-2 first:border-t-2 border-black">
        <p class="uppercase  py-4 mb-0"> {{item.title}} </p>
        <span> {{item.description}} </span>
        </div>

        {% endfor %}
  
    
        
      </div>
    
    </div>

    <div style="background-image: url('/images/blog-bg-14.jpg')" class="col-span-1 min-h-50 relative">
    
      <h2 class="text-6xl bg-[#d4d1cd] absolute bottom-8 inline-block p-8 text-center my-2 font-serif "> Currently in... </h2>

    </div>
  
  </section>