---
layout: default
---

<!--------------Intro Section------------------>

<section class="grid grid-cols-2">

    <div class="px-10p">
        <h2 class="text-6xl pt-[50%] font-serif"> {{page.title}} </h2>
        <h3 class="text-l py-3 uppercase"> {{page.subtitle}} </h3>
        <p> {{page.description}} </p>
        <a class="p-2 uppercase text-l bg-black text-light block inline-block" href="{{page.product-url}}"> Buy now </a>
    </div>

    <div class="relative">
        <img src="{{page.featured-image}}" alt="{{page.featured-image-alt}}" class="absolute inset-0 h-full w-full object-cover">
    </div>

</section>

<!--------------Section Before and After------------------>



<section class="grid grid-cols-3 p-5p">

    <div class="col-span-2 p-8">

        {% include before-and-after-slider.html %}

    </div>
    

    <div class="col-span-1 py-40 px-10">

        <h3 class="text-4xl uppercase font-serif"> Before & after </h3>
        <p class="py-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. </p>

    </div>

</section>



<!--------------Section How to Guide------------------>

<section class="grid grid-cols-3 px-5p">

    <div class="col-span-1 flex items-center ">
        <div>
        <h3 class="uppercase font-serif text-4xl mr-40"> How to use your presets </h3>
        <ul class="list-disc py-3 list-inside">
            <li> Lorem ipsum dolor sit </li>
            <li> Lorem ipsum dolor sit </li>
            <li> Lorem ipsum dolor sit </li>
            <li> Lorem ipsum dolor sit </li>
            <li> Lorem ipsum dolor sit </li>
            <li> Lorem ipsum dolor sit </li>
            <li> Lorem ipsum dolor sit </li>
        </ul>
        </div>
    </div>

    <div class="col-span-2">

        <div class="object-cover max-w-screen-xl mx-auto">

        <div class="h-full w-full" style="background-image:url('/images/blog-bg-12.jpg');"> <!----Wenn man p-8 reinschreibt sieht man dass das bild dahinter ist-->
            {% include video.html 
                vimeo-id=site.data.presets-settings.presets-instructions-vimeo-id %}
        </div>

        </div>

    </div>

</section>


<!--------------FAQ's Section------------------>

<section class="p-5p pb-0">

    <h3 class="uppercase font-serif text-5xl text center py-3"> Faq's </h3>

    <div>

        <hr class="border-black">

        {% for item in site.data.how-to %}

        <div class="py-3 flex justify-between text-xl">
            <h3> {{item.question}} </h3>
            <i class="iconoir-fast-arrow-right"></i>

        </div>
        
        <hr class="border-black">
    
        {% endfor %}
    
    </div>
  
</section>

<!--------------Related Products------------------>

<section class="p-5p">

    <h3 class="uppercase text-4xl text-center pb-5p"> Related products </h3>
  
    <div class="grid grid-cols-3">
    
        {% for product in site.products-presets limit:3 %} <!----Insert Slider later---->
  
        {% include product-loop-item.html %}
          
        {% endfor %}
  
    </div>
  
  
  </section>







